# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Demo.Authentication.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dopusteam\RiderProjects\DockerExample\src\Demo.Authentication\.idea\.idea.Demo.Authentication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
